.imgContainer {
    display: flex;
    margin: 4vh 0;

    img {
        object-fit: cover;
        width: 100%;
        height: 40vh;
        vertical-align: middle;

        &:nth-child(1) {
            object-position: 50% 80%;
            border-radius: 16px 0 0 16px;
        }

        &:nth-child(2) {
            object-position: 50% 50%;
        }

        &:nth-child(3) {
            object-position: 50% 100%;
            border-radius: 0 16px 16px 0;
        }
    }
}
